{% extends 'layout.html' %}

{% block content %}

<div class="flex-col centered max-width">
    <div class="flex-col justify-start">
        <img id="demo" class="circle border profile-pic-main" src="{{user1.imageURL}}">
        <div id = 'profile-name' class="max-width centered flex-row">
            <h2 id="margin-lr" class="centered flex-row">{{user1.name}}</h2>
            <a id="show-all-btn" class="small-btn" href="{% url 'editAccount' %}">Edit</a>
        </div>
    </div>
    <div class="justify-start max-width flex-col padding">
        <div class="flex-row justify-start light-blue max-width padding">
            <h3 class="white padding">Skills</h3>
            <a href='{% url "create-skill" %}' id="show-all-btn" class="small-btn"> +Add skill</a>
        </div>
        {% for skill in skills %}
        <div class="border max-width padding">
            <div class="flex-col justify-start">
                <h4>Skill: {{skill.name}}</h4>
                <div class="text-style">Description: {{skill.description}}</div> 
            </div>
            <div class="flex-row justify-end">
                <a href = "{% url 'update-skill' skill.id %}" id="show-all-btn" class="small-btn">Edit</a>
                <a href = "{% url 'delete-skill' skill.id %}" id="show-all-btn" class="small-btn">Delete</a>
            </div>
        </div>   
        {% endfor %}
        
        <div class="flex-col centered margin-left max-width">
            <div class="flex-row justify-start max-width">
                <h3 class="flex-row centered">{{user1.name}} Projects</h3>
                <a id="show-all-btn" class="small-btn" href="{% url 'create' %}"> + Add project</a>
            </div>
            <div class='flex-row centered wrap border max-width'>
                {% for project in user1.project_set.all %}
                    <a class="all-links" href="{% url 'project' project.pk %}">
                        <div id="demo" class="flex-col centered profile-card-bigger">
                            <img class="profile-pic" src="{{project.imageURL}}">
                            <div class="flex-col max-width centered">
                                <h4 class="flex-col centered">{{project.title|truncatewords:'2'}}</h4>
                                <h5 class="flex-col centered">Owner: {{project.owner.name}}</h5>
                                <h6 class="flex-col centered">{{project.vote_ratio}}% Positive Feedback ({{project.vote_total}}  Vote{{project.vote_total|pluralize:'s'}})</h6>
                                <div class="flex-row wrap">
                                    {% for tag in project.tags.all|slice:'6' %}
                                        <h6 class="tag">{{tag}}</h6>
                                    {% endfor %}
                                </div>
                                <div class="flex-row justify-end">
                                    <a href="{% url 'update' project.id %}" id="show-all-btn" class="small-btn">Edit</a>
                                    <a href="{% url 'delete' project.id %}" id="show-all-btn" class="small-btn">Delete</a>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>  
        </div>


{% endblock %}