
{% extends 'layout.html' %}

{% block content %}

<div class="flex-row justify-start">
    <div class="flex-col justify-start">
        <img id="demo" class=" border circle profile-pic-main" src="{{user1.imageURL}}">
        <div id = 'profile-name' class="max-width centered flex-row">
            <h2 id="margin-lr" class="centered flex-row">{{user1.name}}</h2>
            {% if request.user.profile.id != user1.id %}
            <a class="red" href="{% url 'create-message' user1.id %}">Send Message</a>
            {% endif %}
        </div>
    </div>
    <div class="justify-start flex-col max-width">
        <div class="flex-row justify-start bg-dark-blue max-width">
            <h3 class="white">TOP SKILLS </h3>
        </div>
        
        {% for skill in topSkills %}
        <div class="bg-light-blue max-width">
            <h4>Skill: {{skill.name}}</h4>
        </div>
            <div class="text-style">Description: {{skill.description}}</div>    
        {% endfor %}
        
        <div class="flex-row justify-start bg-dark-blue max-width">
            <h3 class="white">OTHER SKILLS</h3>
        </div>
        <div class="flex-row justify-left wrap max-width">
            {% for skill in otherSkills %}
                <h4 class="tag">{{skill.name}}</h4>   
            {% endfor %}
        </div>
        <div class="flex-col centered max-width">
            <h3 class="flex-row centered">{{user1.name}} Projects</h3>
            <div class='flex-row centered wrap'>
                {% for project in user1.project_set.all %}
                    <a class="all-links" href="{% url 'project' project.pk %}">
                        <div id="demo" class="flex-col centered profile-card-bigger">
                            <img class="profile-pic" src="{{project.imageURL}}">
                            <h4>{{project.title|truncatewords:'2'}}</h4>
                            <h5>Owner: {{project.owner.name}}</h5>
                            <h6>{{project.vote_ratio}}% Positive Feedback ({{project.vote_total}}  Vote{{project.vote_total|pluralize:'s'}})</h6>
                            <div class="flex-row wrap">
                                {% for tag in project.tags.all|slice:'6' %}
                                    <h6 class="tag">{{tag}}</h6>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>  
        </div>


    </div>
</div>

{% endblock %}