{% extends 'layout.html' %}


{% block content %}

<h2>Inbox</h2>
<div class="flex-col">
    <div class="flex-col message-box-big max-width justify-center">
        {% if chat_rooms %}
            {% for chat in chat_rooms %}
            {% if chat.sender == request.user.profile %}
            <div class="flex-row message-box"><a href="{% url 'message' chat.unique_id %}">{{chat.recepient}}</a></div>
            {% else %}
            <div class="flex-row message-box"><a href="{% url 'message' chat.unique_id %}">{{chat.sender}}</a></div>
            {% endif %}
            {% endfor %}

            




        {% else %}
            <div class="flex-row message-box bold">No messages yet...</div>
        {% endif %}
    </div>

    <ul class="flex-row centered max-width justify no-padding">
            {% if chat_rooms.has_previous %}
                <li class="no-decoration">
                    <a id = 'btn' class="no-decoration" href="?page={{chat_rooms.previous_page_number}}"> &#10094; &#10094; Prev </a>
                </li>
            {% endif %}

            {% for number in custom_index %}

                {% if number == chat_rooms.number %}
                    <li class="no-decoration">
                        <a id="btn"  class="no-decoration red" href="?page={{number}}">{{number}}</a>
                    </li>
                {% else %}
                    <li class="no-decoration">
                        <a id="btn"  class="no-decoration" href="?page={{number}}">{{number}}</a>
                    </li>
                {% endif %}
            {% endfor %}

        {% if chat_rooms.has_next %}
            <li class="no-decoration">
                <a id = 'btn'  class="no-decoration" href="?page={{chat_rooms.next_page_number}}"> Next &#10095; &#10095;</a>
            </li>
        {% endif %}



    </ul>
</div>




{% endblock %}